<header
  class="bg-blue-600 text-white p-4 flex flex-col sm:flex-row sm:justify-between sm:items-center"
>
  <h1 class="text-2xl font-bold">Biblioteca de Livros</h1>
  <nav class="mt-2 space-x-4 sm:mt-0">
    <a routerLink="/" class="mr-4">Início</a>
    <a routerLink="/books" class="text-white hover:underline">Ver Livros</a>
    <a routerLink="/add-book" class="text-white hover:underline"
      >Adicionar Livro</a
    >
  </nav>
</header>

<main class="p-4">
  <router-outlet></router-outlet>
</main>

<router-outlet />
