<div class="p-4 max-w-lg mx-auto">
  <h2 class="heading-primary">Adicionar Novo Livro</h2>
  <form [formGroup]="formAddBook" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <label for="title" class="block text-sm font-medium"
        >Título do Livro</label
      >
      <input
        id="title"
        type="text"
        formControlName="title"
        class="input-field"
        placeholder="Digite o título"
      />

      @if (formAddBook.get('title')?.touched){
      @if(formAddBook.get('title')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O título não pode estar vazio</p>
      } @if (formAddBook.get('title')?.errors?.['minlength']) {
      <p class="text-red-500 text-sm mt-1">
        Título deve ter pelo menos 3 caracteres
      </p>
      } }
    </div>
    <div>
      <label for="author" class="block text-sm font-medium">Autor</label>
      <input
        id="author"
        type="text"
        formControlName="author"
        class="input-field"
        placeholder="Digite o autor"
      />

      @if (formAddBook.get('author')?.touched){
      @if(formAddBook.get('author')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O autor não pode estar vazio</p>
      } @if (formAddBook.get('author')?.errors?.['minlength']) {
      <p class="text-red-500 text-sm mt-1">
        Autor deve ter pelo menos 3 caracteres
      </p>
      } }
    </div>

    <div>
      <label for="year" class="block text-sm font-medium">Ano</label>
      <input
        id="year"
        type="number"
        formControlName="year"
        class="input-field"
        placeholder="Digite o ano"
      />

      @if (formAddBook.get('year')?.touched){
      @if(formAddBook.get('year')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O ano não pode estar vazio</p>
      } @if (formAddBook.get('year')?.errors?.['min']) {
      <p class="text-red-500 text-sm mt-1">
        O ano deve ser maior ou igual a 1900
      </p>
      } @if (formAddBook.get('year')?.errors?.['max']) {
      <p class="text-red-500 text-sm mt-1">
        O ano deve ser menor ou igual ao ano atual
      </p>
      } }
    </div>

    <div>
      <label for="genre" class="block text-sm font-medium">Gênero</label>
      <select id="genre" formControlName="genre" class="input-field">
        <option value="" disabled selected>Selecione um gênero</option>
        <option value="Ficção">Ficção</option>
        <option value="Fantasia">Fantasia</option>
        <option value="Romance">Romance</option>
        <option value="Suspense">Suspense</option>
        <option value="Terror">Terror</option>
        <option value="Aventura">Aventura</option>
        <option value="História">História</option>
        <option value="Ciência">Ciência</option>
        <option value="Biografia">Biografia</option>
        <option value="Autoajuda">Autoajuda</option>
        <option value="Tecnologia">Tecnologia</option>
        <option value="Poesia">Poesia</option>
        <option value="Infantil">Infantil</option>
      </select>

      @if (formAddBook.get('genre')?.touched) { @if
      (formAddBook.get('genre')?.errors?.['required']) {
      <p class="text-red-500 text-sm mt-1">Selecione um gênero</p>
      } }
    </div>

    <div>
      <label for="summary" class="block text-sm font-medium">Resumo</label>
      <textarea
        id="summary"
        class="textarea-field"
        formControlName="summary"
        placeholder="Digite um resumo do livro"
      ></textarea>

      @if(formAddBook.get('summary')?.touched){
      @if(formAddBook.get('summary')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O resumo não pode estar vazio</p>
      } @if (formAddBook.get('summary')?.errors?.['minlength']) {
      <p class="text-red-500 text-sm mt-1">
        O resumo deve ter pelo menos 10 caracteres
      </p>
      } }
    </div>

    <button
      [class.btn-disabled]="formAddBook.invalid"
      [disabled]="formAddBook.invalid"
      type="submit"
      class="btn-primary w-full"
    >
      Adicionar Livro
    </button>
  </form>
</div>
