<div class="p-4 max-w-lg mx-auto">
  <h2 class="heading-primary">Editar Livro</h2>
  <form [formGroup]="formEditBook" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <label for="title" class="block text-sm font-medium"
        >Título do Livro</label
      >
      <input
        id="title"
        type="text"
        formControlName="title"
        class="input-field"
        placeholder="Digite o título"
      />
      @if(formEditBook.get('title')?.touched &&
      formEditBook.get('title')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O título não pode estar vazio</p>
      } @if (formEditBook.get('title')?.touched &&
      formEditBook.get('title')?.errors?.['minlength']) {
      <p class="text-red-500 text-sm mt-1">
        Título deve ter pelo menos 3 caracteres
      </p>
      }
    </div>
    <div>
      <label for="author" class="block text-sm font-medium">Autor</label>
      <input
        id="author"
        type="text"
        formControlName="author"
        class="input-field"
        placeholder="Digite o autor"
      />
      @if(formEditBook.get('author')?.touched &&
      formEditBook.get('author')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O autor não pode estar vazio</p>
      } @if (formEditBook.get('author')?.touched &&
      formEditBook.get('author')?.errors?.['minlength']) {
      <p class="text-red-500 text-sm mt-1">
        Autor deve ter pelo menos 3 caracteres
      </p>
      }
    </div>
    <div>
      <label for="year" class="block text-sm font-medium">Ano</label>
      <input
        id="year"
        type="number"
        formControlName="year"
        class="input-field"
        placeholder="Digite o ano"
      />

      @if (formEditBook.get('year')?.touched){
      @if(formEditBook.get('year')?.errors?.['required']){
      <p class="text-red-500 text-sm mt-1">O ano não pode estar vazio</p>
      } @if (formEditBook.get('year')?.errors?.['min']) {
      <p class="text-red-500 text-sm mt-1">
        O ano deve ser maior ou igual a 1900
      </p>
      } @if (formEditBook.get('year')?.errors?.['max']) {
      <p class="text-red-500 text-sm mt-1">
        O ano deve ser menor ou igual ao ano atual
      </p>
      } }
    </div>
    <div>
      <label for="genre" class="block text-sm font-medium">Gênero</label>
      <select id="genre" formControlName="genre" class="input-field">
        <option value="" disabled selected>Selecione um gênero</option>
        @for(genre of genres; track $index){
        <option [value]="genre">{{ genre }}</option>
        }
      </select>

      @if (formEditBook.get('genre')?.touched &&
      formEditBook.get('genre')?.errors?.['required']) {
      <p class="text-red-500 text-sm mt-1">Selecione um gênero</p>
      }
    </div>
    <div>
      <label for="summary" class="block text-sm font-medium">Resumo</label>
      <textarea
        id="summary"
        formControlName="summary"
        class="textarea-field"
        placeholder="Digite o resumo do livro"
      ></textarea>
    </div>
    <button
      [class.btn-disabled]="formEditBook.invalid"
      [disabled]="formEditBook.invalid"
      type="submit"
      class="btn-primary w-full"
    >
      Salvar Alterações
    </button>
  </form>
</div>
